/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .products {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .products h2 {
    text-align: center;
    color: #007bff;
    font-size: 24px;
    margin-bottom: 20px;
  }

  button {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3;
  }

  button.router-link {
    margin: 10px 0;
    display: block;
    width: 120px;
    text-align: center;
  }

  /* Стили списка продуктов */
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 20px;
  }

  .product_card {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .product_card h3 {
    margin: 0;
    color: #333;
  }

  .product_card p {
    margin: 5px 0;
    color: #555;
  }

  .product_card button {
    width: 100px;
  }

  /* Упрощение управления мобильной адаптацией */
  @media (max-width: 768px) {
    .products {
      width: 95%;
    }
    .product_card {
      flex-direction: column;
    }
  }
