<div class="form-container">
    <h2>Update Product</h2>
    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" id="name" [(ngModel)]="product.name" placeholder="Enter product name" />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" id="price" [(ngModel)]="product.price" placeholder="Enter product price" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" [(ngModel)]="product.description" placeholder="Enter product description"></textarea>
    </div>
    <div class="button-group">
      <button (click)="createProduct()" routerLink="/">Cteate</button>
      <button class="cancel" routerLink="/">Cancel</button>
    </div>
  </div>
